## Tarea 1
##### Dataset de salarios (Científicos de datos)

https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023

In [89]:
import pandas as pd
import matplotlib.pyplot as plt
dataS = pd.read_csv("Latest_Data_Science_Salaries.csv")
dataS.head(10)

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
5,Data Scientist,Full-Time,Senior,Expert,126000,United States Dollar,United States,126000,United States,Medium,2023
6,Data Scientist,Full-Time,Senior,Expert,170000,United States Dollar,United States,170000,United States,Medium,2023
7,Data Scientist,Full-Time,Senior,Expert,130000,United States Dollar,United States,130000,United States,Medium,2023
8,Data Engineer,Full-Time,Mid,Intermediate,85000,British Pound Sterling,United Kingdom,104584,United Kingdom,Medium,2023
9,Data Engineer,Full-Time,Mid,Intermediate,75000,British Pound Sterling,United Kingdom,92280,United Kingdom,Medium,2023

# Ejercicio en Clase:

Para este ejercicio debes realizar los siguientes pasos de manera anticipada los siguientes procesos:
- Cargar el conjunto de datos desde un archivo CSV utilizando pandas.
- Explorar y familiarizarse con la estructura del conjunto de datos.
- Calcular estadísticas descriptivas, como el promedio, la mediana y la desviación estándar, de variables relevantes del conjunto de datos general.

#### Acciones por ejecutar

1. ¿Cúantos posibles "Job Title" existen en el Dataset?
2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?
3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?
4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?
5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?
6. ¿Cuál salario promedio por "Job Title" agrupado?
7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?
8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?
9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?
10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

### Propuesta de solución

import pandas as pd
dataS = pd.read_csv('Latest_Data_Science_Salaries.csv')
dataS.head(10)

In [90]:
dataS['Salary'].mean()

204662.29212121211

In [ ]:
dataS['Salary'].median()

In [91]:
dataS['Salary'].std()

727938.2945215825

1.

In [15]:
dataS['Job Title'].nunique()

111

2.

In [18]:
dataS['Employment Type'].nunique()

4

In [23]:
dataS['Employment Type'].value_counts()

Full-Time    3261
Contract       15
Part-Time      13
Freelance      11
Name: Employment Type, dtype: int64

3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?

In [93]:
groupEL = dataS.groupby(['Expertise Level','Experience Level'])['Salary in USD'].mean()
print(groupEL)

Expertise Level  Experience Level
Director         Executive           191512.143836
Expert           Senior              160277.513317
Intermediate     Mid                 108714.977415
Junior           Entry                79921.479452
Name: Salary in USD, dtype: float64

4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?

In [58]:
dataS['Conversion Rate'] = dataS['Salary in USD'] / dataS['Salary']
groupCR = dataS.groupby('Salary Currency')['Conversion Rate'].mean()

print(groupCR)

Salary Currency
Australian Dollar         0.701223
Brazilian Real            0.192691
British Pound Sterling    1.242022
Canadian Dollar           0.770957
Chilean Peso              0.001317
Danish Krone              0.156956
Euro                      1.094518
Hong Kong Dollar          0.127565
Hungarian Forint          0.003075
Indian Rupee              0.012891
Israeli New Shekel        0.278625
Japanese Yen              0.008793
Mexican Peso              0.046543
Norwegian Krone           0.095635
Philippine Peso           0.018106
Polish Zloty              0.238586
Singapore Dollar          0.742514
South African Rand        0.054995
Swiss Franc               1.066176
Thai Baht                 0.029301
Turkish Lira              0.091728
United States Dollar      1.000000
Name: Conversion Rate, dtype: float64

5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?

In [60]:
unique_countries = dataS['Employee Residence'].nunique()
print(unique_countries)

83

6. ¿Cuál salario promedio por "Job Title" agrupado?

In [69]:
dataS.head(2)

Job Title
AI Architect    233500.000000
AI Developer    133666.666667
Name: Salary, dtype: float64

In [75]:
df.groupby(['Job Title'])['Salary in USD'].mean()

Job Title
AI Architect                       237484.000000
AI Developer                       133177.777778
AI Programmer                       56021.750000
AI Scientist                       114117.333333
AWS Data Architect                 258000.000000
                                       ...
Sales Data Analyst                  60000.000000
Software Data Engineer             111627.666667
Staff Data Analyst                  97499.000000
Staff Data Scientist               134500.000000
Staff Machine Learning Engineer    185000.000000
Name: Salary in USD, Length: 111, dtype: float64

7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?

In [94]:
df.groupby(['Employee Residence'])['Salary in USD'].mean()

Employee Residence
Algeria                 100000.000000
American Samoa           45555.000000
Andorra                  50745.000000
Argentina                56444.444444
Armenia                  50000.000000
                            ...
United Arab Emirates    100000.000000
United Kingdom          109147.424490
United States           159794.726050
Uzbekistan               82000.000000
Viet Nam                 44200.000000
Name: Salary in USD, Length: 83, dtype: float64

8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?

In [99]:
maxi = dataS['Salary in USD'].max()
dataS[dataS['Salary in USD'] == maxi]

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
3085,Research Scientist,Full-Time,Mid,Intermediate,450000,United States Dollar,United States,450000,United States,Medium,2020

In [100]:
mini = dataS['Salary in USD'].min()
dataS[dataS['Salary in USD'] == mini]

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
1335,Staff Data Analyst,Full-Time,Executive,Director,15000,United States Dollar,Canada,15000,Nigeria,Medium,2020
2641,Machine Learning Developer,Full-Time,Entry,Junior,15000,United States Dollar,Thailand,15000,Thailand,Large,2021
2826,Data Analyst,Full-Time,Entry,Junior,15000,United States Dollar,Indonesia,15000,Indonesia,Large,2022

9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?

In [102]:
dataS.groupby(['Job Title','Company Size'])['Salary in USD'].mean()

Job Title                        Company Size
AI Architect                     Large           207968.0
                                 Medium          267000.0
AI Developer                     Large           215936.0
                                 Medium           97944.0
                                 Small           197500.0
                                                   ...
Software Data Engineer           Medium           50000.0
Staff Data Analyst               Medium           15000.0
                                 Small           179998.0
Staff Data Scientist             Medium          134500.0
Staff Machine Learning Engineer  Medium          185000.0
Name: Salary in USD, Length: 204, dtype: float64

10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

In [104]:
dataS.groupby(['Company Size','Company Location'])['Salary in USD'].mean()

Company Size  Company Location
Large         American Samoa           50000.000000
              Argentina                50000.000000
              Australia                87307.444444
              Austria                  75141.666667
              Belgium                  84053.000000
                                          ...
Small         Turkey                   20000.000000
              Ukraine                  50000.000000
              United Arab Emirates     92500.000000
              United Kingdom           95451.333333
              United States           113025.087719
Name: Salary in USD, Length: 135, dtype: float64